.nav {
  position: fixed; /*스크롤을 해도 고정되게 해줌*/
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box; /*내가 패딩을 줘도 박스 사이즈를 늘리지마 라는것*/
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative; /*absolut가 가장 가까운 relativ기준으로 움직이기
  때문에 link클래스에 relativ를 써놓음 (안써놓으면 body기준)*/
  color: #2e363e;
}
.nav__notification {
  position: absolute; /*이 코드는 가장 가까운 relativ를 가진 부모 기준으로 움직인다.*/
  left: 15px;
  bottom: 15px;
}

.nav__notification2 {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: 28px;
}
